In [37]:
import os
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

DATA_PATH = "C:/Users/Aishu/Documents/GitHub/MachineLearning/datasets"
def load_titanic_data(data_path, file_name):
    csv_path = os.path.join(data_path, file_name)
    return pd.read_csv(csv_path)

train_set = load_titanic_data(DATA_PATH, "train.csv")
test_set = load_titanic_data(DATA_PATH, "test.csv")

train_set = train_set.drop(["Cabin", "Ticket"], axis=1)
test_set = test_set.drop(["Cabin", "Ticket"], axis=1)
train_set = train_set.drop(["Name", "PassengerId"], axis=1)
test_set = test_set.drop(["Name"], axis=1)
freq_embarked = train_set.Embarked.dropna().mode()[0]
freq_age = train_set.Age.dropna().mode()[0]
combine = [train_set, test_set]

for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_embarked)
    dataset['Embarked'] = dataset['Embarked'].map({'C':0, 'Q':1, 'S':2}).astype(int)
    dataset['Age'] = dataset['Age'].fillna(freq_age)

X_train = train_set.drop("Survived", axis=1)
Y_train = train_set["Survived"]
X_test  = test_set.drop("PassengerId", axis=1).copy()
#X_train.shape, Y_train.shape, X_test.shape
X_test

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    0  34.5      0      0    7.8292         1
1         3    1  47.0      1      0    7.0000         2
2         2    0  62.0      0      0    9.6875         1
3         3    0  27.0      0      0    8.6625         2
4         3    1  22.0      1      1   12.2875         2
5         3    0  14.0      0      0    9.2250         2
6         3    1  30.0      0      0    7.6292         1
7         2    0  26.0      1      1   29.0000         2
8         3    1  18.0      0      0    7.2292         0
9         3    0  21.0      2      0   24.1500         2
10        3    0  24.0      0      0    7.8958         2
11        1    0  46.0      0      0   26.0000         2
12        1    1  23.0      1      0   82.2667         2
13        2    0  63.0      1      0   26.0000         2
14        1    1  47.0      1      0   61.1750         2
15        2    1  24.0      1      0   27.7208         0
16        2    0  35.0      0      0   12.3500         1
17        3    0  21.0      0      0    7.2250         0
18        3    1  27.0      1      0    7.9250         2
19        3    1  45.0      0      0    7.2250         0
20        1    0  55.0      1      0   59.4000         0
21        3    0   9.0      0      1    3.1708         2
22        1    1  24.0      0      0   31.6833         2
23        1    0  21.0      0      1   61.3792         0
24        1    1  48.0      1      3  262.3750         0
25        3    0  50.0      1      0   14.5000         2
26        1    1  22.0      0      1   61.9792         0
27        3    0  22.5      0      0    7.2250         0
28        1    0  41.0      0      0   30.5000         2
29        3    0  24.0      2      0   21.6792         0
..      ...  ...   ...    ...    ...       ...       ...
388       3    0  21.0      0      0    7.7500         1
389       3    0   6.0      3      1   21.0750         2
390       1    0  23.0      0      0   93.5000         2
391       1    1  51.0      0      1   39.4000         2
392       3    0  13.0      0      2   20.2500         2
393       2    0  47.0      0      0   10.5000         2
394       3    0  29.0      3      1   22.0250         2
395       1    1  18.0      1      0   60.0000         2
396       3    0  24.0      0      0    7.2500         1
397       1    1  48.0      1      1   79.2000         0
398       3    0  22.0      0      0    7.7750         2
399       3    0  31.0      0      0    7.7333         1
400       1    1  30.0      0      0  164.8667         2
401       2    0  38.0      1      0   21.0000         2
402       1    1  22.0      0      1   59.4000         0
403       1    0  17.0      0      0   47.1000         2
404       1    0  43.0      1      0   27.7208         0
405       2    0  20.0      0      0   13.8625         0
406       2    0  23.0      1      0   10.5000         2
407       1    0  50.0      1      1  211.5000         0
408       3    1  24.0      0      0    7.7208         1
409       3    1   3.0      1      1   13.7750         2
410       3    1  24.0      0      0    7.7500         1
411       1    1  37.0      1      0   90.0000         1
412       3    1  28.0      0      0    7.7750         2
413       3    0  24.0      0      0    8.0500         2
414       1    1  39.0      0      0  108.9000         0
415       3    0  38.5      0      0    7.2500         2
416       3    0  24.0      0      0    8.0500         2
417       3    0  24.0      1      1   22.3583         0

[418 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_Y, test_Y = train_test_split(train_set, train_set['Survived'], test_size=0.2, random_state=42)

tree_classifier = DecisionTreeClassifier()
tree_classifier.fit(train_X, train_Y) 
y_pred = tree_classifier.predict(test_X)
print(sum(y_pred==test_Y))
print(len(test_Y))
print ("Accuracy on Training: ",sum(y_pred==test_Y)/len(test_Y))

train_X.head(10)

acc_decision_tree = round(tree_classifier.score(train_X, train_Y) * 100, 2)
acc_decision_tree

In [26]:
import os
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

DATA_PATH = "C:/Users/Aishu/Documents/GitHub/MachineLearning/datasets"
def load_titanic_data(data_path, file_name):
    csv_path = os.path.join(data_path, file_name)
    return pd.read_csv(csv_path)

train_set = load_titanic_data(DATA_PATH, "train.csv")
test_set = load_titanic_data(DATA_PATH, "test.csv")

freq_embarked = train_set.Embarked.dropna().mode()[0]
freq_age = train_set.Age.dropna().mode()[0]
freq_fare = train_set.Fare.dropna().mode()[0]
combine = [train_set, test_set]
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_embarked)
    dataset['Embarked'] = dataset['Embarked'].map({'C':0, 'Q':1, 'S':2}).astype(int)
    dataset['Age'] = dataset['Age'].fillna(freq_age)
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
    dataset['Fare'] = dataset['Fare'].fillna(freq_fare)
    
train_data = train_set[["Pclass", "SibSp", "Parch",  "Fare", "Sex", "Embarked", 'Age']]
test_data = test_set[["Pclass", "SibSp", "Parch",  "Fare", "Sex", "Embarked", 'Age']]
#test_data['Survived'] = 0
#test_data['Survived'] = test_data.Survived.apply(lambda x: int(x))
test_set

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,2
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,1
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,2
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,2
5,897,3,"Svensson, Mr. Johan Cervin",0,14.0,0,0,7538,9.2250,NaN,2
6,898,3,"Connolly, Miss. Kate",1,30.0,0,0,330972,7.6292,NaN,1
7,899,2,"Caldwell, Mr. Albert Francis",0,26.0,1,1,248738,29.0000,NaN,2
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",1,18.0,0,0,2657,7.2292,NaN,0
9,901,3,"Davies, Mr. John Samuel",0,21.0,2,0,A/4 48871,24.1500,NaN,2
10,902,3,"Ilieff, Mr. Ylio",0,24.0,0,0,349220,7.8958,NaN,2
11,903,1,"Jones, Mr. Charles Cresson",0,46.0,0,0,694,26.0000,NaN,2
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23.0,1,0,21228,82.2667,B45,2
13,905,2,"Howard, Mr. Benjamin",0,63.0,1,0,24065,26.0000,NaN,2
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47.0,1,0,W.E.P. 5734,61.1750,E31,2
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",1,24.0,1,0,SC/PARIS 2167,27.7208,NaN,0
16,908,2,"Keane, Mr. Daniel",0,35.0,0,0,233734,12.3500,NaN,1
17,909,3,"Assaf, Mr. Gerios",0,21.0,0,0,2692,7.2250,NaN,0
18,910,3,"Ilmakangas, Miss. Ida Livija",1,27.0,1,0,STON/O2. 3101270,7.9250,NaN,2
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",1,45.0,0,0,2696,7.2250,NaN,0
20,912,1,"Rothschild, Mr. Martin",0,55.0,1,0,PC 17603,59.4000,NaN,0
21,913,3,"Olsen, Master. Artur Karl",0,9.0,0,1,C 17368,3.1708,NaN,2
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",1,24.0,0,0,PC 17598,31.6833,NaN,2
23,915,1,"Williams, Mr. Richard Norris II",0,21.0,0,1,PC 17597,61.3792,NaN,0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,0
25,917,3,"Robins, Mr. Alexander A",0,50.0,1,0,A/5. 3337,14.5000,NaN,2
26,918,1,"Ostby, Miss. Helene Ragnhild",1,22.0,0,1,113509,61.9792,B36,0
27,919,3,"Daher, Mr. Shedid",0,22.5,0,0,2698,7.2250,NaN,0
28,920,1,"Brady, Mr. John Bertram",0,41.0,0,0,113054,30.5000,A21,2
29,921,3,"Samaan, Mr. Elias",0,24.0,2,0,2662,21.6792,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",0,21.0,0,0,364858,7.7500,NaN,1
389,1281,3,"Palsson, Master. Paul Folke",0,6.0,3,1,349909,21.0750,NaN,2
390,1282,1,"Payne, Mr. Vivian Ponsonby",0,23.0,0,0,12749,93.5000,B24,2
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,51.0,0,1,PC 17592,39.4000,D28,2
392,1284,3,"Abbott, Master. Eugene Joseph",0,13.0,0,2,C.A. 2673,20.2500,NaN,2
393,1285,2,"Gilbert, Mr. William",0,47.0,0,0,C.A. 30769,10.5000,NaN,2
394,1286,3,"Kink-Heilmann, Mr. Anton",0,29.0,3,1,315153,22.0250,NaN,2
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",1,18.0,1,0,13695,60.0000,C31,2
396,1288,3,"Colbert, Mr. Patrick",0,24.0,0,0,371109,7.2500,NaN,1
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,48.0,1,1,13567,79.2000,B41,0
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",0,22.0,0,0,347065,7.7750,NaN,2
399,1291,3,"Conlon, Mr. Thomas Henry",0,31.0,0,0,21332,7.7333,NaN,1
400,1292,1,"Bonnell, Miss. Caroline",1,30.0,0,0,36928,164.8667,C7,2
401,1293,2,"Gale, Mr. Harry",0,38.0,1,0,28664,21.0000,NaN,2
402,1294,1,"Gibson, Miss. Dorothy Winifred",1,22.0,0,1,112378,59.4000,NaN,0
403,1295,1,"Carrau, Mr. Jose Pedro",0,17.0,0,0,113059,47.1000,NaN,2
404,1296,1,"Frauenthal, Mr. Isaac Gerald",0,43.0,1,0,17765,27.7208,D40,0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,20.0,0,0,SC/PARIS 2166,13.8625,D38,0
406,1298,2,"Ware, Mr. William Jeffery",0,23.0,1,0,28666,10.5000,NaN,2
407,1299,1,"Widener, Mr. George Dunton",0,50.0,1,1,113503,211.5000,C80,0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",1,24.0,0,0,334915,7.7208,NaN,1
409,1301,3,"Peacock, Miss. Treasteall",1,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,2
410,1302,3,"Naughton, Miss. Hannah",1,24.0,0,0,365237,7.7500,NaN,1
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",1,37.0,1,0,19928,90.0000,C78,1
412,1304,3,"Henriksson, Miss. Jenny Lovisa",1,28.0,0,0,347086,7.7750,NaN,2
413,1305,3,"Spector, Mr. Woolf",0,24.0,0,0,A.5. 3236,8.0500,NaN,2
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,0
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,2
416,1308,3,"Ware, Mr. Frederick",0,24.0,0,0,359309,8.0500,NaN,2
417,1309,3,"Peter, Master. Michael J",0,24.0,1,1,2668,22.3583,NaN,0

In [29]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_Y, test_Y = train_test_split(train_data, train_set['Survived'], test_size=0.2, random_state=42)

tree_classifier = DecisionTreeClassifier()
tree_classifier.fit(train_X, train_Y) 
y_pred = tree_classifier.predict(test_X)
print ("Accuracy on Training: ",sum(y_pred==test_Y)/len(test_Y))

acc_decision_tree = round(tree_classifier.score(train_X, train_Y) * 100, 2)
acc_decision_tree

Accuracy on Training:  0.77094972067

97.890000000000001

In [ ]:
final_test[['PassengerId', 'Survived']].to_csv('datasets/titanic_submission1.csv', index=False)
print (final_test[['PassengerId', 'Survived']].head())

In [15]:
y_pred = tree_classifier.predict(test_data)
test_data

ValueError: Number of features of the model must match the input. Model n_features is 8 and input n_features is 7